VITE_GA4_ID=G-XXXXXXXXXX
VITE_META_PIXEL_ID=000000000000000
VITE_CAL_PHONE_LINK=lukas/telefon-15min
VITE_CAL_VIDEO_LINK=lukas/video-30min
VITE_WHATSAPP_NUMBER=49XXXXXXXXXX
VITE_GOOGLE_MAPS_URL=https://maps.google.com/?cid=XXXXXX
VITE_GOOGLE_PLACES_ID=ChIJ...
VITE_BEHOLD_WIDGET_ID=TODO
VITE_EGYM_URL=https://TODO-egym-url.de
